/* Google font Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


/* Variables  */
:root {
  --color-dark-charcoal: #333;
  --color-midnight-black: #262626;
  --color-space-gray: #4c4c4c;
}

/* Reset and globals */

* { box-sizing: border-box; }

body {
  background: var(--color-midnight-black);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
